version: "3.9"

services:
  web:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env.production
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - ./backend:/app
      - ./backend/app/firebase/hitoiki-app-firebase-adminsdk-xn0xn-bf68272980.json:/app/app/firebase/hitoiki-app-firebase-adminsdk-xn0xn-bf68272980.json

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
