@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap');

:root {
  font-family: "Kiwi Maru", serif;
  font-weight: 900;
  font-style: normal;
  line-height: 1.5;
  background-color: #f9f9f9;
  /* color-scheme: light dark; */
  color: rgba(24, 24, 24, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}


a {
  font-weight: 500;
  color: #1c1c1c;
  text-decoration: inherit;
}
a:hover {
  color: #64765e;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* サイドメニューのデフォルトスタイル */
.side-menu {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  padding: 2em 1em;
  width: 15%;
  height: 100vh;
  background-color: #765e5e;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

/* 960px以下で折りたたむ */
@media (max-width: 960px) {
  .side-menu {
      transform: translateX(-100%);
      position: fixed;
      width: 100%;
      height: 30%;
      margin-top: 5%;
      background-color: #525252;
  }

  .side-menu.open {
      transform: translateX(0);
      width: 100%;
      height: 30%;
      margin-top: 5%;
      background-color: #525252;
  }
}

/* メニューボタン */
.menu-toggle {
  display: none;
  position: fixed;
  top: 15px;
  left: 15px;
  background-color: transparent;
  color: white;
  font-size: 24px;
  padding: 10px;
  border: none;
  cursor: pointer;
  z-index: 1100;
}

@media (max-width: 960px) {
  .menu-toggle {
      display: block;
  }
}


.side-menu button {
  border-radius: 8px;
  /* border: 1px solid transparent; */
  margin: 1.6em 0.2em;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  color: white;
  cursor: pointer;
  transition: all 0.25s ease;
}

.side-menu button:hover {
  /* border-color: #646cff; */
  background-color: #333;
}

.side-menu button:focus,
.side-menu button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
    color: #1a1a1a;
  }
}

.main-view {
  /* display: flex; */
  width: 100%;
  height: 100vh; /* ビューポート全体をカバー */
  overflow: hidden; /* 全体のスクロールバーを非表示 */
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-left: 11%;
  padding: 2em;
  background-color: #f9f9f9;
  height: 100%; /* 親要素の高さに合わせる */
  overflow: hidden; /* 全体のスクロールを無効化 */
  width: calc(100% - 15%);
}

/* 960px以下で折りたたむ */
@media (max-width: 960px) {
  .main-container {
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: 10%;
  }
}

.center {
  flex: 3;
  /* display: flow; */
  margin-left: 6%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* 上部から開始 */
  overflow-y: auto; /* 縦スクロールを有効化 */
  height: 100%; /* 親要素の高さに合わせる */
}

/* 960px以下で折りたたむ */
@media (max-width: 960px) {
  .center {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}

.menu-link {
  display: flex; /* 横並び */
  align-items: center; /* アイコンとテキストを縦方向に中央揃え */
  text-decoration: none;
  color: white;
  gap: 8px;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: transparent; /* 背景を透明にする */
  border: none; /* ボタンの境界線を削除 */
  cursor: pointer;
  padding: 0.25em 0.25em;
  transition: color 0.3s ease, transform 0.2s ease;
}

.menu-link:hover {
  color: #887171;
  transform: scale(1.05); /* ボタンを少し大きくする */
}

.menu-link:focus {
  outline: none;
  color: #f9f9f9;
}

.article-card {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #fff;
  /* width: 100%; */
  max-width: 800px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* アニメーションの追加 */
}

.article-card:hover {
  transform: translateY(-5px); /* カードを少し上に移動 */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* ホバー時の影を強調 */
}

.card-thumbnail {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  border-radius: 4px;
  background-color: #f0f0f0;
  overflow: hidden;
  margin-right: 10px;
}

.thumbnail-image {
  width: 100%;
  height:100%;
  object-fit: cover;
}

.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 50%; /* カード全体の高さに対応 */
  padding: 10px 0; /* 縦方向の余白を調整 */
}

.article-title {
  font-size: 1.1rem;
  font-weight: bold;
  width: 100%;
}

.article-meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #7f7f7f;
  margin-top: auto; /* カードの下部に固定 */
}

.article-meta p {
  margin: 0;
}

/* ローディング画面 */
.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f6f2;
  font-size: 1.2rem;
  color: #555;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-right: 8px;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* エラーメッセージ */
.error-message {
  color: red;
  font-weight: bold;
}

/* セクションタイトル */
.section-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 12px;
  color: #333;
}

/* 記事詳細 */
.article-detail {
  padding: 10px;
  margin: 0 auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* width: 100%; */
}

.article-detail-header {
  border-bottom: 2px solid #ddd;
}

.article-detail-meta {
  display: grid;
  text-align: right;
}

.article-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.article-meta {
  display: flex;
  gap: 15px;
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 20px;
}

.article-thumbnail-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.article-thumbnail {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.article-content {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #444;
  margin-bottom: 20px;
}

.comments-section {
  margin-top: 30px;
}

.comments-section h2 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #333;
}

.comment-card {
  background: #f9f9f9;
  border-radius: 8px;
  padding: 10px 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.comment-header {
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
  font-size: 1.3rem;
}

.comment-body {
  font-size: 1.2rem;
  line-height: 1.4;
  color: #333;
  margin-bottom: 5px;
}

.comment-date {
  font-size: 0.8rem;
  color: #777;
}

.comment-footer {
  font-size: 0.9rem;
  color: #777;
}

.article-author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.article-user-info {
  margin-top: 20px;
  padding: 20px;
  border-top: 1px solid #ddd;
  background-color: #f9f9f9;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.like-button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #555;
  cursor: pointer;
  transition: background-color 0.1s ease, transform 0.2s ease;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #ddd;
}

.like-button:hover {
  background-color: #ffe6e6;
}

.like-button:active {
  transform: scale(1.1); /* ボタンを押したときに拡大 */
}

.like-icon {
  animation: pop 0.3s ease;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.share-button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  /* border-radius: 8px; */
  background-color: #ffffff;
  color: #555;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border: 0px solid #ddd;
}

/* ポップアップウィンドウのスタイル */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px 40px;
  border-radius: 8px;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 3s forwards; /* フェードイン・アウトのアニメーション */
}

/* フェードイン・フェードアウトのアニメーション */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* 記事投稿ページ */
.post-article-page {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.form-group {
  margin-bottom: 20px;
}

.media-upload-area {
  margin-top: 20px;
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.media-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.media-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px; /* 最大幅を設定 */
  text-align: center;
}

.media-item img,
.media-item video {
  max-width: 100%;
  max-height: 120px; /* 高さを制限 */
  object-fit: cover; /* アスペクト比を維持しつつ収める */
  border-radius: 5px; /* 角を少し丸める */
}

.react-mde-preview img {
  max-width: 100%;
  max-height: 300px; /* 必要に応じて調整 */
  display: block;
  margin: 10px auto;
  object-fit: contain; /* アスペクト比を保持 */
}

.react-mde-preview video {
  max-width: 100%;
  max-height: 300px;
  display: block;
  margin: 10px auto;
}

.markdown-content {
  font-size: 16px;
  line-height: 1.8;
  word-wrap: break-word;
  color: #333;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.markdown-content p {
  margin-bottom: 1rem;
}

.markdown-content a {
  color: #007bff;
  text-decoration: underline;
}

.markdown-content del {
  text-decoration: line-through;
}

.markdown-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}

.markdown-content video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}

.markdown-content strong {
  font-weight: bold;
  color: #000;
}

.markdown-content em {
  font-style: italic;
}

.markdown-content blockquote {
  border-left: 4px solid #ccc;
  padding-left: 10px;
  color: #666;
}

.markdown-content ul {
  padding-left: 20px;
}

.markdown-content ol {
  padding-left: 20px;
}

/* ヘッダーのデフォルトスタイル */
.mobile-header {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #765e5e;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1100;
}

/* 1024px以下でのみ表示 */
@media (max-width: 1024px) {
  .mobile-header {
      display: flex;
  }
}

/* メニュー開閉ボタン */
.menu-toggle {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 24px;
}

/* ヘッダーのタイトル */
.header-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 300px;
  padding: 20px;
  background-color: #f9f9f9;
  height: 100%;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
}

/* トグルボタン */
.right-toggle {
  position: fixed;
  top: 50%;
  right: 10px;
  background-color: #765e5e;
  color: white;
  font-size: 20px;
  padding: 10px;
  border: none;
  cursor: pointer;
  z-index: 1100;
  border-radius: 50%;
}

/* 960px以下では折りたたむ */
@media (max-width: 960px) {
  .right-container {
      transform: translateX(100%);
      position: fixed;
      right: 0;
      top: 0;
      height: 100%;
      margin-top: 16%;
      background-color: #f9f9f9;
      z-index: 1000;
  }

  .right-container.open {
      transform: translateX(0);
      margin-top: 16%;
  }

  .right-toggle {
      display: block;
  }
}

/* 投稿ボタンは常に右下に表示 */
.post-article-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #765e5e;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.post-article-button:hover {
  background-color: #6a5252;
}

.search-input {
  width: 250px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.search-button {
  padding: 10px;
  border-radius: 8px;
  background-color: #765e5e;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* 中央に配置 */
  display: block;
  margin: 0 auto;
  
}



.share-buttons {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.share-buttons p {
  margin: 0 0 4px;
  font-weight: bold;
  font-size: 14px;
}

.share-icon {
  display: inline-block;
  margin-right: 8px;
}

.share-icon img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  vertical-align: middle;
  transition: transform 0.2s ease;
}

.share-icon img:hover {
  transform: scale(1.1);
}

.tag-input-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.tag {
  background: #e0e0e0;
  padding: 4px 8px;
  border-radius: 16px;
  display: flex;
  align-items: center;
}

.tag button {
  margin-left: 4px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 14px;
}
.article-categories {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.category-tag {
  background-color: #f1f5f9;
  color: #1f2937;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 0.85rem;
}

.mde-header-group {
  display: none !important; 
}